# ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="602b", MODE="0664", GROUP="dialout" RUN+="/bin/sh -c 'echo rule fired 14 >> /home/bernd/udev-env.txt'"
#ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="602b", MODE="0664", GROUP="dialout"
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="602b", MODE="0664", GROUP="dialout"
